.countdown {
    font-size: 0.7em;

    display: block;
    float: left;
    font-family: "Raleway", sans-serif;
    text-align: center;
    letter-spacing: 1px;
}


.countdown div span {
    display:block;
    text-align: center;

}

.countdown div {
    display:inline-block;
    letter-spacing: 0;
}