.row {
}

.top-que {
    position: relative;
    margin-top:30px;
    margin-bottom: 30px;
}

.below-que {
    position:relative;
}

.crop {
    overflow: hidden;
    width: 100%;
    background-color: #222222;
    height: 300px;
}
.top-que .crop{
    height: 400px;
}

.crop .image {
    margin-left: 0;
    opacity: 0.4;
    width:140%;
}
.top-que .crop .image {
    margin-top: -120px;
    width: 100%;
}

.que-info {
    width:100%;
    position: absolute;
    top:0;
    padding:20px 30px 0 30px;
    height: 300px;
}
.top-que .que-info {
    padding:80px 100px 0 100px;
    height: 400px;
    margin-bottom: 30px;
}
.row .que-info {
    width:95%;
}

.clock{
    width: 100px;
    float:left;
}
.clock img {
    width: 100%;
}

.time-left{
    float:left;
    color:white;
    font-size: 36px;
    position:absolute;
    bottom: 0;
}
.top-que .time-left {
    font-size: 72px;
    margin-left:40px;
    margin-top:0;
    top:80px;
    left:200px;
}

.que-details {
    color:white;
    font-size: 42px;
    position:absolute;
}
.top-que .que-details {
    bottom:20px;
}

.enter-que {
    font-family: "Arial Rounded MT Bold";
    background-color: seagreen;
    border:none;
    position:absolute;
    font-size: 26px;
    padding:10px 20px 10px 20px;
    bottom:10px;
    right:30px;
}
.top-que .enter-que {
    font-size: 46px;
    padding:20px 40px 20px 40px;
    bottom: 35px;
    right:20px;
}