.navbar-logo {
    height: 30px;
}

.navbar {
    background-color: #2A2C2B;
    border-radius: 0;
    border: none;
}

.navbar a {
    height: 100%;
}

.navbar-collapse {
    padding:5px 0;
}

.navbar-btn {
    margin-right: 0;
}

.navbar-form {
    position: relative;
}

.navbar .glyphicon {
    position: absolute;
    padding:8px;
    left:15px;
    font-size: 18px;
    color: #999;
}

.navbar .form-control {
    padding-left:36px;
    width: 400px;
    font-size: 18px;
}

.navbar-btn {
    font-family: "Arial Rounded MT Bold";
}

.navbar-toggle {
    float:right;
    margin-top:14px;
}

.navbar-collapse.in {
    text-align: center;
    padding: 10px 20px;
}

.navbar-collapse.in .navbar-btn {
    width: 100%;
}

.navbar-collapse.in .form-control {
    width: 100%;
}

.navbar-collapse.in .glyphicon {
    top:10px;
}
