.que-top-element {
    height:400px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 15% 0 15%;
}


.que-top-element .que-details {
    color:white;
    font-size: 42px;
    background-color: rgba(0, 0, 0, 0.2);;

}

.que-top-element .que-enter {
    text-align: right;
}

.que-top-element .que-enter .btn {
    margin-top:18px;
    font-family: "Arial Rounded MT Bold";
    background-color: seagreen;
    font-size: 46px;
    padding:20px 40px 20px 40px;
    border:none;
}

@media (max-width: 992px) {
    .que-top-element .que-details {
        font-size:32px;
    }

    .que-top-element .que-enter .btn {
        font-size: 36px;
        padding:10px 20px 10px 20px;
    }

    .que-top-element .time-left {
        font-size: 54px;
        margin-top:14px;

    }
}

@media (max-width: 768px) {
    .que-top-element {
        height:300px;
        padding: 25px 15% 0 15%;
    }

    .que-top-element .clock {
        width: 0;
        height: 0;
    }

    .que-top-element .que-details {
        font-size:24px;
    }

    .que-top-element .que-enter .btn {
        font-size: 24px;
        padding:5px 10px 5px 10px;
    }
}