.que-header {
    position:relative;
    margin-bottom: 40px;
}

.que-header .que-info {
    top:60px;
    left:60px;
}

.que-header .que-info h1 {
    font-size: 63px;
}

.que-header .crop .image {
    margin-top: -60px;
    width: 100%;
}


.enter-que {
    font-family: "Arial Rounded MT Bold";
    background-color: seagreen;
    border:none;
    width:100%;
    font-size: 26px;
    padding:20px 40px 20px 40px;

}