.que-header {
    height:400px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 15% 0 15%;
    margin:15px 0 0 15px;
}

.que-header .que-info h1 {
    font-size: 63px;
}

.que-detailed-info {
    margin:15px 0 0 15px;
}

.enter-que {
    font-family: "Arial Rounded MT Bold";
    background-color: seagreen;
    border:none;
    width:100%;
    font-size: 26px;
    padding:20px 40px 20px 40px;

}